body {
    background-color: #e1d4c9;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
}

h1 {
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    color: #b0907a;
    text-align: center;
    margin: 20px auto;
}

.buttons, .score {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}
.header_button {
    background-color: #e1d4c9;
    color: #b0907a;
    border-radius: 10px;
    padding: 10px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
}
.cards {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 1200px;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/memory-game/src/images/space.jpg");
    background-size: cover;
    backface-visibility: hidden;
    border-radius: 10px;
}
.card {
    width: 15%;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s ease;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 10px;
}

.hidden {
    transform: rotateY(180deg);
}

.blocked,
.no-events {
    pointer-events: none;
}
